body {
    /* font-family: Arial, sans-serif; */
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #24273a;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.column {
    margin: 20px;
    min-width: 30rem;
}


h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.output-text {
}

#stringResult, #fileResult {
    margin-top: 10px;
    font-size: 16px;
}
