body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.column {
    margin: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#stringResult, #fileResult {
    margin-top: 10px;
    font-size: 16px;
}
